* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #E8F1F2;
}

p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-bottom: 2rem;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #13293D;
    padding: 1rem 5%;
    width: 100%;
    z-index: 1000;
}

.title a {
    color: #E8F1F2;
    text-decoration: none;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav a {
    text-decoration: none;
    text-align: center;
    align-items: center;
    color: #E8F1F2;
    padding: 0.5rem 0;
    margin-left: 2vw;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
}

.nav a:hover {
    color: #1B98E0;
}

.mobile-menu {
    display: none;
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: #E8F1F2;
    cursor: pointer;
}

/* Seções */
.home, .about, .portfolio, .services, .contact{
    display: flex;
    padding: 2% 8%;
    background: linear-gradient(to left, #13293D 65%, #E8F1F2 35%);
}

/* Seção - Home */ 
.home {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content-home {
    color: #1B98E0;
    text-align: right;
    display: block;
}

.home h1 {
    margin-top: 4rem;
    font-size: clamp(1rem, 4vw, 3rem);
}

.home h3 {
    margin-left: 15%;
    font-size: clamp(1rem, 4vw, 2rem);
}

.home p {
    margin-top: 1rem;
    margin-left: 10%;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
}

.home h1, .home p {
    color: #E8F1F2;
}

.icons-home {
    margin: 1rem 0 2rem;
}

.icons-home a {
    font-size: clamp(1rem, 3vw, 2rem);
    border: 0.2rem solid #E8F1F2;
    text-decoration: none;
    color: #006494;
    display: inline-flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 50%;
}

.icons-home a:hover{
    color: #E8F1F2;
    background: #1B98E0;
}

#cv {
    text-decoration: none;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: #E8F1F2;
    padding: 1rem 3rem;
    background-color: #006494;
    border-radius: 45px;
    font-weight: 600;
    box-shadow: 0 0 10px;
}

#cv:hover {
    box-shadow: none;
}

#picture {
    margin-top: 5%;
    margin-left: 5%;
    background-color: #13293D;
    height: 50vw;
    width: 50vw;
    max-height: 500px;
    max-width: 500px;
    border-radius: 50%;
    border: 1.5vw solid #E8F1F2;
    outline: 1.5vw solid #13293D;
}

/* Seção - Esquerda */
.content-left {
    padding-top: 10%;
    padding-right: 5%;
    align-items: center;
    text-align: left;
    justify-content: center;
    max-width: 30%;
}

.content-left h1 {
    color: #13293D;
    font-size: clamp(1.5rem, 3vw, 4rem);
    margin-bottom: 1rem;
}

.content-left p {
    color: #13293D;
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: 500;
}

/* Seções */
.container-about, .container-portfolio, .container-contact {
    display: flex;
    color: #E8F1F2;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

/* Seções - About */
.container-about {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.content-about {
    margin-top: 5%;  
    display: flex;
    align-items: center;
}

.programming-skills {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 1rem;
}

.other-skills {
    margin-left: 10%;
}

.programming-skills, .other-skills {
    color: #E8F1F2;
    font-size: clamp(1rem, 2vw, 1.2rem);
    border-radius: 10px;
    width: 140%; 
    height: 20%;
    padding: 2%;
}

.programming-skills h2, .other-skills h2 {
    font-size: clamp(1.5rem, 3vw, 2rem);
    margin-bottom: 1rem;
}

.skill p, .skill-box p {
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

.skill, .skill-box {
   margin: 0.2rem;
}

.skill a {
    color: #1B98E0;
    text-decoration: none;
}

.skill a:hover {
    color: #006494;
    text-decoration: none;
    font-weight: bold;
}

.icon-skill {
    display: flex;
    padding: 0.5rem;
}

.icon-skill i {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: #1B98E0;
}

.skill-box h3, .skill h3 {
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink-animation 1.5s infinite;
}

/* Seção - portfolio */
.container-portfolio {
    justify-content: space-between;
    align-items: center;
}

.content-portfolio {
    text-align: center;
    width: 100%;
    margin-left: 10%;
}

#github {
    text-decoration: none;
    font-size: clamp(0.5rem, 2.5vw, 1.2rem);
    color: #E8F1F2;
    padding: 1rem 2rem;
    background-color: #006494;
    border-radius: 45px;
    font-weight: 600;
    box-shadow: 0 0 10px;
    margin-top: 2rem;
}

.carousel {
    flex: 1;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 2%;
    border-radius: 15px;
}

.carousel-images {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-images img {
    max-width: 100%;
    min-height: 300px;
    padding-top: 1rem;
    transition: transform 0.5s ease-in-out;
    border-radius: 25px;
}

.next, .prev {
    background-color: #006494;
    border: none;
    font-size: clamp(0.5rem, 2vw, 2rem);
    padding: 1rem;
    cursor: pointer;
    color: #0a1f44;
    display: inline-block;
    height: 100%;
    margin: 1rem;
}

.carousel-buttons {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.description {
    padding: 2rem;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    width: 100%;
}

/* Seção - Contact */
.container-contact {
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact-image img {
    width: 40vw;
    max-width: 450px;
    margin-bottom: 1rem;
    border-radius: 25px;
}

.content-contact {
    text-align: center;
    margin-left: 10vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 25px;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #E8F1F2;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
}

.contact-form button {
    padding: 0.5rem;
    background-color: #006494;
    color: #E8F1F2;
    border: none;
    border-radius: 5px;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #00507A;
}